@charset 'utf-8';
@import url('notosanskr/NotoSansKR.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import url('Montserrat');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline-style: none; */
}

a {
    color: #333;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

li {
    list-style: none;
}

html {
    font-size: 13px;
}

body {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: -0.25px;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 공통요소 */
.clearfix::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.container {
    position: relative;
    display: block;
    max-width: 1500px;
    margin: 0 auto;
}

.wrap {
    position: relative;
    display: block;
}

.section {}

.br-pc {
    display: block;
}

.br-tb {
    display: none;
}

.br-mb {
    display: none;
}

/* 풀페이지 네비게이션 */
#fp-nav {
    margin-top: -148px !important;
    z-index: 999;
}

#fp-nav.right {
    right: 58px;
}

#fp-nav ul li {

    margin-bottom: 42px;
}

#fp-nav ul li:last-child {
    display: none;
}

#fp-nav ul li a span {
    left: 0;
    top: 0;
    width: 13px !important;
    height: 13px !important;
    margin: 0 !important;
    border: 2px solid #fff;
    background-color: transparent;
}

.dark #fp-nav ul li a span {
    border-color: #444;
    background-color: #fff;

}

#fp-nav .active span {
    margin: 0 !important;
}

#fp-nav .active span::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 65px;
    height: 65px;
}

#fp-nav li:nth-child(1) .active span::after {
    background: url('../images/fp-nav_ico01.png')no-repeat center;

}

#fp-nav li:nth-child(2) .active span::after {
    background: url('../images/fp-nav_ico02.png')no-repeat center;

}

#fp-nav li:nth-child(3) .active span::after {
    background: url('../images/fp-nav_ico03.png')no-repeat center;

}

#fp-nav li:nth-child(4) .active span::after {
    background: url('../images/fp-nav_ico04.png')no-repeat center;

}

#fp-nav li:nth-child(5) .active span::after {
    background: url('../images/fp-nav_ico05.png')no-repeat center;

}

#fp-nav ul li .fp-tooltip.right {
    right: 50px;
}

#fp-nav ul li .fp-tooltip.right:hover {
    opacity: 1;
    overflow: hidden;
}

#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-family: "Montserrat";
    font-size: 13px;
    letter-spacing: -0.25px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: auto;
    opacity: 0;
    cursor: pointer;
}

.dark #fp-nav ul li .fp-tooltip {
    color: #444;
}

.gotop {
    position: fixed;
    display: block;
    visibility: hidden;
    right: 40px;
    bottom: 40px;
    width: 55px;
    height: 55px;
    z-index: 9999;
    cursor: pointer;
    opacity: 0;
    transition: .3s;
}
.gotop img{
    width: 100%;
} 
.gotop-on {
    visibility: visible;
    opacity: 1;
}

/* header */
.header {
    position: fixed;
    display: block;
    justify-content: space-between;
    width: 100%;
    padding: 50px 100px 0 100px;
    z-index: 999;
}

.logo {
    position: relative;
    display: block;
    float: left;
}
.logo img {
    width: 100%;
}

.userarea {
    position: relative;
    display: block;
    padding: 0 60px 0 80px;
    float: right;
}

.contact {
    position: absolute;
    top: 17px;
    left: 0;
    display: block;
    font-family: 'Montserrat';
    font-weight: 300;
    text-transform: uppercase;
    margin-right: 12px;
    font-size: 11px;
    color: #fff;
}

.dark .contact,
.dark .language,
.dark .language span,
.dark .lang-list a,
.dark .menu {
    color: #444;
}

.dark .language {
    border-color: #444;
}

.dark .menu span {
    background-color: #444;
}

.dark .language::after {
    background: url('../images/lang_arr_blk.png')no-repeat center;
}

.language {
    position: relative;
    display: block;
    font-family: 'Montserrat';
    font-weight: 300;
    text-transform: uppercase;
    padding: 15px 45px 15px 30px;
    width: 139px;
    border-radius: 20px;
    border: 1px solid #fff;
    overflow: hidden;
    cursor: pointer;
}

.language::after {
    content: '';
    position: absolute;
    right: 23px;
    top: 19px;
    display: block;
    width: 9px;
    height: 6px;
    background: url('../images/lang_arr.png')no-repeat center;
    transition: transform .5s;
}

.lang-active::after {
    transform: rotate(180deg);
}

.language span {
    position: relative;
    display: block;
    font-size: 11px;
    color: #fff;
}

.lang-list {
    position: relative;
    display: block;
    overflow: hidden;
    height: 0px;
    transition: height .5s;
}

.lang-active .lang-list {
    height: 42px;
}

.lang-list a {
    position: relative;
    display: block;
    padding-top: 10px;
    font-size: 11px;
    color: #fff;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    font-family: 'Montserrat';
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
    background-color: transparent;
}

.menu span {
    position: relative;
    display: block;
    margin-bottom: 10px;
    width: 36px;
    height: 3px;
    background-color: #fff;
}

.menu span:nth-child(2) {
    width: 30px;
    margin-left: 6px;
}


/* 전체메뉴 */
.nav-bg {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
}

.nav {
    position: fixed;
    top: 0;
    right: -760px;
    display: block;
    width: 760px;
    height: 100%;
    z-index: 9999;
    overflow-y: auto;
    transition: .3s;
}

.nav-on {
    right: 0;
}

.nav-wrap {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 60px 40px;
    background-color: #fff;
}

.nav-top {
    position: relative;
    display: block;
    padding-bottom: 20px;
    border-bottom: 2px solid #d51c29;
}



.nav-close {
    position: absolute;
    right: 0;
    bottom: 20px;
    display: block;
    border: 0;
    background-color: transparent;
    transition: transform .3s;
    cursor: pointer;
}

.nav-close:hover {
    transform: rotate(180deg);
}

.gnb {
    position: relative;
    display: block;
}

.gnb>li {
    padding: 30px 20px;
    border-bottom: 1px solid #ddd;
}

.gnb>li>span {
    position: relative;
    display: block;
    color: #000;
    font-family: "Montserrat", "Noto Sans KR";
    font-size: 28px;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 1.5em;
    margin-bottom: 10px;
}

.gnb>li>span::before {
    content: '';
    position: absolute;
    left: -60px;
    top: 50%;
    display: block;
    width: 40px;
    opacity: 0;
    height: 2px;
    background-color: #d51c29;
    transition: .3s;
}

.gnb>li:hover>span::before {
    opacity: 1;
}

.sub {
    position: relative;
    display: block;
}

.sub li {
    position: relative;
    display: inline-block;
}

.sub li+li {
    margin-left: 20px;
}

.sub li a {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 1.5em;
    color: #888;
}

.sub li:hover a {
    color: #d51c29;
}


/* contents */
#fullpage {}

body::after {
    content: '';
    position: fixed;
    top: 0;
    display: block;
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    right: 72px;
    z-index: 1;
}

.dark::after {
    background-color: #444;
}

.page1 {}

.page1-swiper {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.visual-bg {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    z-index: -1;
}

.visual-txt {
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    bottom: 60%;
    text-align: center;
}

.visual-tit {
    position: relative;
    display: block;
    font-size: 76px;
    margin-bottom: 20px;
    line-height: 110%;
    font-weight: bold;
    letter-spacing: -0.25px;
    color: #fff;
    word-break: keep-all;
    opacity: 0;
    transform: translateY(20%);
}

.swiper-slide-active .visual-tit {
    transition: .75s .5s;
    transform: translateY(0);
    opacity: 1;
}

.visual-sub {
    color: #fff;
    opacity: 1;
    font-size: 28px;
    letter-spacing: -0.25px;
    transition: all 0.7s 0.2s;
    font-weight: 200;
    transform: translateY(20%);
    opacity: 0;
}

.swiper-slide-active .visual-sub {
    transition: .75s .8s;
    transform: translateY(0);
    opacity: 1;
}

.page1-pg-wrap {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    z-index: 1;
}

.page1-pg-wrap .swiper-pagination {
    position: relative;
}

.page1-pg-wrap .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    opacity: 1;
    background-color: #fff;
    margin-right: 14px;
    border-radius: 6px;
    transition: .3s;
}

.page1-pg-wrap .swiper-pagination-bullet-active {
    transition: .3s;
    width: 46px;
    background-color: #d51c29;
}

.scroll-bt {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 12px;
    bottom: 25px;
    padding-top: 65px;
    border: none;
    background: none;
    text-align: center;
    color: #fff;
    z-index: 1;
    cursor: pointer;
}

.scroll-bt img {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.page2 {
    background-color: #f7f7f7;
}

.page2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 45%;
    height: 100%;
    background-color: #444648;

}

.left {
    position: relative;
    display: block;
    float: left;
    width: 45%;
}

.page2 .left {
    opacity: 0;
    transform: translateY(30px);
}

.page2-active .left {
    transition: .6s;
    transform: translateY(0);
    opacity: 1;
}

.left .tit {
    margin-top: 5px;
    font-family: "Montserrat";
    font-size: 18px;
    letter-spacing: 0.1px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 25px;
}

.left .sub {
    font-size: 48px;
    letter-spacing: -0.25px;
    margin-bottom: 15px;
    color: #fff;
    font-weight: 100;
    line-height: 58px;
}

.left .txt {
    font-size: 18px;
    letter-spacing: -0.25px;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 45px;
}

.page2 .more {
    position: relative;
    display: block;
    width: 198px;
    border: 1px solid #d51c29;
    color: #fff;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 200;
    line-height: 46px;
    text-align: center;
    transition: .6s;
    background-color: #d51c29;
}

.more:hover {
    border-color: #fff;
    background-color: transparent;
}

.page2 .right {
    position: relative;
    display: block;
    float: right;
    width: 55%;
    padding-left: 5%;
}

.right-list {
    position: relative;
    display: block;
    width: 100%;
}

.list-box {
    position: relative;
    display: inline-block;
    width: 48%;
    margin-bottom: 65px;
    cursor: pointer;
    opacity: 0;
    transform: translateY(30px);
}

.page2-active .list-box {
    transition: .6s .3s;
    opacity: 1;
    transform: translateY(0);
}

.page2-active .list-box:nth-child(2) {
    transition-delay: .6s;
}

.page2-active .list-box:nth-child(3) {
    transition-delay: .9s;
}

.page2-active .list-box:nth-child(4) {
    transition-delay: 1.2s;
}


.right .tit {
    margin: 10px 0;
    font-weight: 300;
    font-size: 25px;
    color: #111111;
}

.right .txt {
    font-size: 16px;
    color: #666666;
}

.page3 {
    background-color: #303030;
}

.page3-swiper {
    margin: 0 20%;
    opacity: 0;
    transform: translateY(30px);
}

.page3-active .page3-swiper {
    transition: .6s;
    opacity: 1;
    transform: translateY(0);
}

.page3 .slide-box {
    background: #eaeaea;
    position: relative;
    display: block;
    padding: 6% 4%;
    margin: 0 30px;
    z-index: 2;
}



.page3 .slide-img {
    position: relative;
    display: block;
    float: left;
    background-size: cover;
    width: 60%;
    margin-top: -13%;
    display: block;
}

.page3 .slide-img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .3;
    transition: opacity .5s .5s;
}

.page3 .swiper-slide-active .slide-img::after {
    opacity: 0;
}

.page3 .slide-img img {
    position: relative;
    width: 100%;
}

.page3 .slide-txt {
    position: relative;
    display: block;
    width: 40%;
    padding-left: 40px;
    float: right;
    opacity: 0;
    transform: translateY(30px);
}

.page3-active .slide-txt {
    transition: .6s .6s;
    opacity: 1;
    transform: translateY(0);
}

.page3 .slide-txt span {
    position: relative;
    display: block;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.1px;
    color: #222;
    margin-bottom: 10px;
}

.page3 .slide-txt h2 {
    position: relative;
    display: block;
    font-size: 46px;
    line-height: 1.4em;
    height: 190px;
    color: #222;
    font-weight: 100;
    word-break: keep-all;
}

.line {
    position: relative;
    display: block;
    width: 100px;
    height: 4px;
    margin: 25px 0 !important;
    background-color: #d51c29;
}

.page3 .slide-txt p {
    position: relative;
    display: block;
    font-size: 17px;
    letter-spacing: -0.25px;
    line-height: 24px;
    color: #666666;
    margin-bottom: 15px;
    height: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: keep-all;

}

.page3 .slide-bt {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    background: url('../images/pr_btn.png')no-repeat center;
    transition: .3s;
    cursor: pointer;
}

.page3 .slide-bt:hover {
    background: url('../images/pr_btn_on.png')no-repeat center;
}

.page3 .slide-control {
    position: relative;
    text-align: center;
    display: block;
    margin-top: 55px;
}

.page3-pg {
    position: relative;
    display: inline-block;
    bottom: auto;
    font-family: "Montserrat";
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    width: auto;
    margin: 0 20px;
}

.page3 .swiper-pagination-total {
    color: #777;
}

.page3-next {
    position: relative;
    display: inline-block;
    width: 22px;
    height: 13px;
    background: url('../images/section3_next.png')no-repeat center;
    cursor: pointer;
}

.page3-prev {
    position: relative;
    display: inline-block;
    width: 22px;
    height: 13px;
    background: url('../images/section3_prev.png')no-repeat center;
    cursor: pointer;
}

.page4 {
    background: url('../images/section4_bg.jpeg')no-repeat center;
    background-size: cover;
}

.page4 .left {
    opacity: 0;
    transform: translateX(-30%);
}

.page4-active .left {
    transition: .6s;
    opacity: 1;
    transform: translateY(0);
}

.right {
    display: flex;
}

.rnd-box {
    position: relative;
    flex: 1;
    padding-left: 30px;
    opacity: 0;
    transform: translateY(30px);
}

.page4-active .rnd-box {
    transition: .6s .3s;
    opacity: 1;
    transform: translateY(0);
}

.page4-active .rnd-box:nth-child(2) {
    transition-delay: .6s;
}

.page4-active .rnd-box:nth-child(3) {
    transition-delay: .9s;
}

.rnd-box::before {
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    position: absolute;
    display: block;
    width: 1px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.2);
}

.rnd-box::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 3px;
    height: 60px;
    background-color: #fff;
}
.rnd-box img {
    object-fit: contain;
    width: 70px;
    height: auto;
}
.rnd-box .txt {
    margin-top: 60px;
}

.rnd-box h2 {
    font-size: 26px;
    color: #fff;
    margin-bottom: 20px;
}

.rnd-box p {
    font-size: 17px;
    color: #fff;
    line-height: 24px;
    font-weight: 100;
    margin-bottom: 60px;
}

.rnd-box-bt {
    position: relative;
    display: block;
    width: 58px;
    height: 58px;
    background: url('../images/section4_arr_btn.png')no-repeat center;
    cursor: pointer;
    transition: .3s;
}

.rnd-box-bt:hover {
    background: url('../images/section4_arr_btn_over.png')no-repeat center;
}

.page5 .container {
    max-width: 1400px;
}

.page5-swiper {
    overflow: hidden;
}
.cap1::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 55%;
    height: 50vh;
    background-color: #ddd;
}

.cap1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 55%;
    height: 50vh;
    background-color: #ededed;
}

.cap2::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 45%;
    height: 50vh;
    background-color: #444648;
}

.cap2::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 45%;
    height: 50vh;
    background-color: #55575a;
}

.page5 .left {
    width: 55%;
    opacity: 0;
    transform: translateX(-30px);
}

.page5-active .left {
    transition: .6s;
    opacity: 1;
    transform: translateX(0);
}


.page5 .tit {
    position: relative;
    display: block;
    font-family: "Montserrat";
    font-size: 30px;
    line-height: 1.5em;
    letter-spacing: -0.1px;
    color: #3c3c3c;
    margin-bottom: 25px;
}

.page5-pg {
    display: inline-block;
    width: auto;
    top: 20px;
    right: 5px;
}

.page5-pg .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #6e6e6e;
    opacity: 1;
    background-color: #fff;
}

.page5-pg .swiper-pagination-bullet+.swiper-pagination-bullet {
    margin-left: 5px;
}

.page5-pg .swiper-pagination-bullet-active {
    background-color: #6e6e6e;
}


.page5 .slide-box {
    margin: 0 5px;
    padding: 35px;
    background-color: #fff;
}

.page5 .slide-tit {
    font-size: 21px;
    color: #0d0d0d;
    margin-bottom: 25px;
    line-height: 1.5em;
}

.page5 .slide-box p {
    font-size: 16px;
    line-height: 24px;
    height: 72px;
    color: #666;
    margin-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.date {
    position: relative;
    display: block;
    line-height: 1.5em;
    font-size: 15px;
    color: #666;
}

.page5 .more {
    position: absolute;
    right: 5px;
    bottom: 0;
    display: block;
    width: 59px;
    height: 59px;
    background-color: #d51c29;
    border: 1px solid #d51c29;

    transition: .4s;
}

.slide-box:hover .more {
    background-color: #fff;
    border-color: #b4b4b4;
}

.page5 .more::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 2px;
    height: 19px;
    background-color: #fff;
    transition: .4s;
}

.slide-box:hover .more::before {
    background-color: #b4b4b4;
}

.page5 .more::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 19px;
    height: 2px;
    background-color: #fff;
    transition: .4s;
}

.slide-box:hover .more::after {
    background-color: #b4b4b4;
}

.page5 .right {
    flex-direction: column;
    padding-left: 5%;
    width: 45%;
    opacity: 0;
    transform: translateX(30px);
}

.page5-active .right {
    transition: .6s;
    opacity: 1;
    transform: translateX(0);
}

.customer-box {}

.customer-box+.customer-box {
    margin-top: 100px;
}

.customer-box .tit {
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
}

.customer-img {
    position: absolute;
    right: 0;
    display: block;
}

.customer-box .tit::after {
    content: '';
    position: absolute;
    display: block;
    width: 22px;
    height: 2px;
    background-color: #d51c29;
}

.customer-box p {
    font-size: 16px;
    letter-spacing: -0.25px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 21px;
}

.page6 {
    height: auto !important;
}

.page6 .fp-tableCell {
    height: auto !important;
}

.partner {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.partner .tit {
    position: relative;
    display: inline-block;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 22px;
    letter-spacing: -0.1px;
    color: #3c3c3c;
    width: 110px;
    margin-top: 43px;
}

.partner-box {
    position: relative;
    display: inline-block;
    padding: 0 35px;
}

.footer {
    padding: 50px 0;
    text-align: center;
    background-color: #292929;
    font-size: 14px;
    letter-spacing: -0.2px;
    color: #8e8e8e;
}

.footer-logo {
    position: relative;
    display: inline-block;
}

.private {
    position: relative;
    display: block;
    margin-top: 18px;
    font-size: 14px;
    letter-spacing: -0.2px;
    color: #8e8e8e;
}

.address {
    position: relative;
    display: block;
    margin-top: 15px;
}

.address span+span::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 9px;
    background: #8e8e8e;
    margin: 0 8px;
}

.copy {
    position: relative;
    display: block;
    margin-top: 10px;
}



@media screen and (max-width: 1280px) {

    body::after {
        display: none;
    }

    #fp-nav {
        display: none;
    }

    .br-pc {
        display: none !important;
    }

    .br-tb {
        display: block;
    }

    .header {
        padding-left: 3%;
        padding-right: 3%;
    }

    .page2 .container {
        padding: 0 3%;
    }

    .page2 .left {
        width: 100%;
        float: none;
        margin-bottom: 100px;
    }

    .page2 .right {
        padding: 0;
        width: 100%;
        float: none;
    }

    .page2::before {
        width: 100%;
        height: 50vh;
    }

    .list-box {
        width: 24%;
        margin-bottom: 0;
    }

    .left .tit {
        font-size: 16px;
        letter-spacing: 0.1px;
        margin-bottom: 15px;
    }

    .left .sub {
        font-size: 40px;
        margin-bottom: 15px;
        color: #fff;
        line-height: 50px;
    }

    .left .txt {
        font-size: 16px;
        letter-spacing: -0.25px;
        line-height: 30px;
        color: #fff;
        margin-bottom: 30px;
    }

    .right-list {
        display: flex;
        justify-content: space-between;
    }

    .right-list img {
        width: 100%;
    }

    .right .tit {
        font-size: 21px;
    }

    .right .txt {
        font-size: 15px;
        word-break: keep-all;
    }

    .page3-swiper {
        padding-top: 80px;
        margin: 0 7%;
    }
    .page3 .slide-img {
        width: 60%;
        position: relative;
        overflow: hidden;
        margin-top: -17%;
    }

    .page3 .slide-img img {
        display: block;
        margin-top: -7%;
    }

    .page3 .slide-txt {
        padding-left: 40px;
    }

    .page3 .slide-txt span {
        font-size: 18px;
        letter-spacing: 0.1px;
    }

    .page3 .slide-txt h2 {
        font-size: 34px;
        height: 100px;
    }
    .page3 .slide-control {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -50px;
        margin-top: 0;
    }
    .page4 .container {
        display: flex;
        flex-direction: column;
        padding: 0 3%;
    }
    .page4 .left {
        width: 100%;
    }
    .page4 .left .txt {
        margin-bottom: 50px;
    }
    
    .page4 .right {
        flex-direction: column;
    }
    .rnd-box {
        display: flex;
        margin-bottom: 30px;
        padding-left: 25px;
    }
    .rnd-box::before {
        display: none;
    }
    .rnd-box .txt {
        margin-top: 0;
        padding-left: 40px;
        flex-grow: 1;
    }
    .rnd-box p {
        margin-bottom: 0;
    }
    .page5 .container {
        display: flex;
        flex-direction: column;
        padding: 0 3%;
    }
    .cap1::before {
        width:100%;
        height: 40%;
    }
    .cap1::after {
        width: 100%;
        height: 20%;
        top: 40vh;
        bottom: auto;
    }
    .cap2::before {
        width:100%;
        height: 20%;
        top: 60vh;
    }
    .cap2::after {
        width: 100%;
        height: 20%;
        top: 80vh;
    }
    .page5 .left {
        display: flex;
        width: 100%;
        height: 60vh;
        flex-direction: column;
        justify-content: end;
    }
    .page5 .tit {
        font-size: 30px;
        margin-bottom: 20px;
        display: block;
    }
    .page5 .right {
        padding-left: 0;
        width: 100%;
    }
    .customer-box {
        margin-top: 0 !important;
        height: 20vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    .customer-box p {
    }
    .customer-img {
        top: 50%;
    }
    .page5-pg {
        top: 30px;
    }
    .partner .tit {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .gotop {
        right: 4%;
        bottom: 4%;
        width: 40px;
        height: 40px;
    }
    .header {
        padding-top: 25px;
    }
    .logo {
        width: 77px;
    }
    .contact, .language {
        display: none;
    }
    .visual-tit {
        font-size: 40px;
    }
    .visual-sub {
        font-size: 15px;
    }
    .left .tit {
        font-size: 13px;
        margin-bottom: 10px;
    }
    .left .sub {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 10px;
    }
    .page2::before {
        height: 55vh;
    }
    .page2 .container {
        padding: 5% 5% 0;
    }
    .page2 .left {
        margin-bottom: 35px;
    }
    .page2 .left .txt{
        display: none;
    }
    
    .page2 .more{
        width: 140px;
        line-height: 32px;
        font-size: 9px;
    }
    .right-list {
        flex-wrap: wrap;
    }
    .list-box {
        width: 48%;
        margin-bottom: 2%;
    }
    .page2 .right .txt {
        display: none;
    }
    .page2 .right .tit {
        font-size: 16px;
        margin-bottom: 0;
        line-height: 1.5em;
    }
}